[General]
FETCH_INTERVAL = 10
MIL_PREFIX_LIST = 7CF
TAR1090_URL = http://localhost/tar1090/data/aircraft.json
BLINK_MILITARY = true

[Location]
LAT = -31.9522
LON = 115.8614
AREA_NAME = PERTH
RADIUS_NM = 60

[Display]
SCREEN_WIDTH = 960
SCREEN_HEIGHT = 540
FPS = 6
MAX_TABLE_ROWS = 10
FONT_PATH = fonts/TerminusTTF-4.49.3.ttf
HEADER_FONT_SIZE = 32
RADAR_FONT_SIZE = 22
TABLE_FONT_SIZE = 22
INSTRUCTION_FONT_SIZE = 12